article, aside, dialog, figure, footer, header, hgroup, menu, nav, section { display: black; }
* {
	margin:auto 0px;
}
body {
	background-color:#eee;
}
header {
	font-size:64pt;
	margin:auto;
	background-color:#d3381c;
	text-align:left;
	color:#ea5506;
}
section {
	background-color:#fff;
	margin:0px auto;
	width:80%;
	padding:1em 1em 1em 1em;
	border-style:none solid solid solid;
	border-width:1px;
	border-color:#ddd;
	max-width:40em;
}
footer {
	margin:1em auto auto auto;
	text-align:center;
	color:#6a5d21;
	text-shadow:1px 0px 1px rgba(255, 255, 255, 0.5);
	float:clear;
}
h1 {
	border: solid 3px #3b2291;
	border-radius: 9px;
	background-color: #3b2291;
	margin-bottom:1em;
	color:#fff;
	font-size: x-large;
}
h2 {
	border-left: solid 5px #3b2291;
	padding-left: 0.5em;
	font-size: large;
}
#logo {
	-webkit-transform: rotate(4deg);
	-webkit-transform-origin: bottom;
	display:inline-block;
	font-family: serif;
}
div.grid{
	width:240px;
	border-style:solid;
	border-color:#ddd;
	padding:10px;
	border-width:1px;
	margin:10px;
	background-color:#fff;
}
div.grid-double {
	width:480px;
	border-style:solid;
	border-color:#ddd;
	padding:10px;
	border-width:1px;
	margin:10px;
	background-color:#fff;
}
div.box {
	width:240px;
	height:240px;
	margin:10px;
	border-style:solid;
	border-color:#ddd;
	border-width:1px;
}
h6 {
	font-weight:bold;
	font-size:medium;
}
a.silent{
	color:inherit;
	text-decoration:none;
}
p{
  line-height:1.6;
	margin-bottom:0.8em;
	margin-top:0.8em;
	text-indent:1em;
}
pre{
	margin-top:1em;
	margin-bottom:1em;
	margin-left:1em;
	padding:0.5em;
	border:solid 1px;
	overflow:auto;
}
li{
	margin-bottom:0.5em;
}
table{
	border-style:solid;
	border-width:1px;
}
th{
	border-style:solid;
	border-width:1px;
	background-color:#ddaadd;
}
td{
	border-style:solid;
	border-width:1px;
}
blockquote{
	border-left:5px;
	border-left-style:solid;
	border-left-color:#aaaaaa;
	padding-left:1em;
}
img#footerlogo{
	margin-left:0.5em;
	margin-right:0.5em;
}
div.date{
	text-align:right;
}
