<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} -- ぺけみさお{% else %}ぺけみさお -- xmisao{% endif %}</title>
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  <meta name="description" content="{{ post.excerpt | remove: '<p>' | remove: '</p>' }}">
  <meta property="og:title" content="{% if page.title %}{{ page.title }} -- ぺけみさお{% else %}ぺけみさお -- xmisao{% endif %}"/>
  <meta property="og:description" content="{{ post.excerpt | remove: '<p>' | remove: '</p>' }}"/>
  <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
  <meta property="og:type" content="article"/>
  <meta name="twitter:site" content="@xmisao">
  <meta name="twitter:card" content="summary">
  <link rel="shortcut icon" href="{{ root}}/favicon.ico">
  <link rel="alternate" type="application/atom+xml" title="xmisao -- ぺけみさお" href="{{ root }}/feed.xml" />
  {% asset bundle.css %}
</head>
