<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} -- ぺけみさお{% else %}ぺけみさお -- xmisao{% endif %}</title>
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  <meta name="description" content="{{ post.excerpt | remove: '<p>' | remove: '</p>' }}">
  <meta property="og:title" content="{% if page.title %}{{ page.title }} -- ぺけみさお{% else %}ぺけみさお -- xmisao{% endif %}"/>
  <meta property="og:description" content="{{ post.excerpt | remove: '<p>' | remove: '</p>' }}"/>
  <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
  <meta property="og:type" content="article"/>
  <meta name="twitter:site" content="@xmisao">
  <meta name="twitter:card" content="summary">
  <link rel="shortcut icon" href="{{ root }}/favicon.ico">
  <link rel="alternate" type="application/atom+xml" title="xmisao -- ぺけみさお" href="{{ root }}/feed.xml" />
  <!-- jQuery 2.2.4 -->
  <script src="{{ root }}/js/jquery-2.2.4.min.js"></script>
  <!-- Twitter Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="{{ root }}/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ root }}/css/bootstrap-theme.min.css">
  <script src="{{ root }}/js/bootstrap.min.js"></script>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
  <!--  Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40150713-1', 'auto');
    ga('send', 'pageview');

  </script>
  <!-- xrefine theme files -->
  <link rel="stylesheet" href="{{ root }}/css/JKG-M_3.css"/>
  <link rel="stylesheet" href="{{ root }}/css/icons.css"/>
  <link rel="stylesheet" href="{{ root }}/css/xrefine.css"/>
  <link rel="stylesheet" href="{{ root }}/css/rouge.css"/>
  <script src="{{ root }}/js/share.js"></script>
</head>
