<div id="pane-header">
  <!--<div class="container fluid top">-->
    <div class="weak-table">
      <div class="valign-middle">
        <div class="table">
          <div class="valign-middle">
            <a href="/" class="no-deco">
              <img id="logo-img" src="{{ root }}/xmisao_circle_icon_72x72.png" width="48" height="48">
            </a>
          </div>
          <div class="valign-middle">
            <a href="/" class="no-deco color-text">
              <span id="logo-string">ぺけみさお</span>
            </a>
          </div>
        </div>
      </div>
      <div class="valign-middle">
        <ul id="navigation-list" class="flat-list margin-auto">
          <li role="presentation" {% if include.active-tab == "home" %}class="active"{% endif %}><a href="/"><span class="ui-mono">Home<span/></a></li>
          <li role="presentation" {% if include.active-tab == "posts" %}class="active"{% endif %}><a href="/entries.html"><span class="ui-mono">Posts</span></a></li>
          <li role="presentation" {% if include.active-tab == "about" %}class="active"{% endif %}><a href="/about.html"><span class="ui-mono">About</span></a></li>
          <li role="presentation"><a href="http://bestgems.org/"><span class="ui-mono">BestGems</span> <span class="icon-new-tab"></span></a></li>
          <li role="presentation"><a href="http://animedb.xmisao.com/"><span class="ui-mono">xAnimeDB</span> <span class="icon-new-tab"></span></a></li>
        </ul>
      </div>
    </div>
    <!--</div>-->
</div>
