<div id="share">
  <h6>このページをSNSでシェアする</h6>
  <div>
    <div class="sns_icon hatena_back"><a href="{% share_hatena %}" target="_blank" title="はてなブックマークに登録"><span class="icon-hatenabookmark color-hatenabookmark"></span><span class="sns-label">はてなブックマークに登録する</span></a></div>
    <div class="sns_icon twitter_back"><a href="{% share_twitter %}" target="_blank" title="Twitterでシェア"><span class="icon-twitter"></span><span class="sns-label">Twitterに投稿する</span></a></div>
    <div class="sns_icon facebook_back"><a href="{% share_facebook %}" target="_blank" title="Facebookでシェア"><span class="icon-facebook"><span class="sns-label">Facebookでシェアする</span></span></a></div>
    <div class="sns_icon line_back"><a href="{% share_line %}" target="_blank" title="LINEに送る"><span class="icon-line"></span><span class="sns-label">LINEで送る</span></a></div>
    <div class="sns_icon pocket_back"><a href="{% share_pocket %}" target="_blank" title="Pocketに保存する"><span class="icon-get-pocket"></span><span class="sns-label">Pocketに登録する</span></a></div>
    <div class="sns_icon google_back"><a href="{% share_google_plus %}" target="_blank" title="Google+で共有"><span class="color-google-plus icon-google-plus"></span><span class="sns-label">Google+に投稿する</span></a></div>
  </div>
</div>
