.red{
	background-color:#ff0000;
}

.green{
	background-color:#00ff00;
}

.blue{
	background-color:#0000ff;
}

.yellow{
	background-color:#ffff00;
}

.purple{
	background-color:#ff00ff;
}

.cyan{
	background-color:#00ffff;
}
