<!DOCTYPE html>
<html lang="ja">
  {% include header.html %}
  <body>
    {% include pane-top.html active-tab="posts" %}
    {% include blog-pane-title.html %}
    <div class="container">
      <div class="row">
        <div class="col-md-9 contents">
          <div id="post-contents">
            {{ content }}
          </div>
          <div>
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-6">
                  {% include share-this-page.html %}
                </div>
                <div class="col-xs-6">
                  {% include ads-main.html %}
                </div>
              </div>
            </div>
            <div class="container-fluid">
              {% include blog-prev-next.html %}
            </div>
          </div>
        </div>
        <div class="col-md-3">
          {% include blog-sidebar.html %}
        </div>
      </div>
    </div>
    {% include pane-bottom.html %}
    {% include share-script.html %}
  </body>
</html>
